.container{
  height: 500px;
  width: 500px;
  border: 3px solid black;
  transform: translate(500px,100px);
  align-items: center;
  font-style: italic;
  background-color: rgb(220, 189, 167);
}
h1{
text-align: center;
gap: 50px;
}
.input-block{
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
.form-in{
  height: 30px;
  width: 400px;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
}
.form-in:hover{
  background-color: rgb(241, 241, 184);
}
button{
  margin-top: 50px;
  padding: 10px;
  margin-inline: 50px;
  width: 200px;
  font-size: 20px;
  background-color:rgb(188, 174, 204) ;
}